//FONTS
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap'); //Crimson Pro FOnt
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@351&display=swap'); //Rokkitt Font

*{
    margin: 0;
    padding:0;
    font-family: serif;
    box-sizing: border-box;
    //border-box is to include the padding and border are included in the width and height
    font-size: 20px;
}

html
{
    scroll-behavior: smooth;
    // smooth scrolling effects for navigation bar
}

//1.  N A V I G A T I O N  B A R
//Css Code

nav{
    position: fixed;
    z-index: 10;
    background-image: linear-gradient(to top, #1c075e, #20086b, #240979, #290a87, #2d0b95);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
}

nav .text h3{
    color: whitesmoke;
    font-size: 0.85rem;
    letter-spacing: 6px;
    text-align: center;
}

nav .text h6{
    color: rgb(172, 172, 172);
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 0.75rem;
    // text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    border-radius: 16px;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    // line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
@media (min-width: 952px){
    nav a:hover{
        background: #400ac9;
        transition: 0.5s;
    }
}

@media (max-width: 952px)
{
    nav ul li a{
        font-size: 16px;
        
    }
}

@media (max-width: 858px)
{
    // .text{
    //     display: none;
    // }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 92vh;
        background: #2c3e50;
        top: 8vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: #010e36;
        z-index: 10;    
        display: flex;
        flex-direction: column;

    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;

    }

    a:hover, a.active{
        background-color: #010e36;
        
    }

    #check:checked ~ ul{
        left: 0;
    }
}

// I N T R O   S E C T I O N


.intro{
    background-image: linear-gradient(to left, #4f00e3, #0047f2, 
    #0067f8, #0080f5, #0096ed, #00a6ed, #00b3ea, #00c0e4,
    #12cfea, #2bdeed, #45edf0, #5ffbf1);

    background-image: linear-gradient(to right, #90afb8, #75a0b1, #5b91ab, #4281a6, #2871a0, #2a70a4, #2e6fa8, #346dab, #4b7bba, #5f8ac9, #7399d8, #86a8e7);
    
    background-image: linear-gradient(to bottom, #000046, #001556, #002566, #003575, #004584, #005392, #00629f, #0071ab, #0082b9, #0093c7, #07a4d4, #1cb5e0);
    
    background-image: linear-gradient(to right, #4f00e3, #4919e8, 
    #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6,
    #613bf1, #7136ec, #7e31e7, #8a2be2);
    // margin: 10px;
    // border: 1px solid black;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr / 2fr 1.5fr;
    grid-template-areas: 
        "c1 c2";

    .container1{
        margin: 0% 5%;
        // border: 1px solid black;
        // background-color: grey;
        grid-area: c1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        .sub-container1{
            margin: 5% 0%;
            // border: 1px solid black;
            height: 50%;
            vertical-align: middle;


            h1{
                font-family: "crimson Pro", Helvetica, sans-serif;
                margin: 10% 0%;
                // border: 1px solid black;
                font-size: 1.3rem;
                letter-spacing: 2px;
                margin: 1em 0em;

                span{
                    color: whitesmoke;
                    // margin: 10px;
                    // border: 1px solid black;
                    font-size: 2rem;
                }
            }
            p{
                font-family: rokkitt, Arial, Helvetica, sans-serif;
                // border: 1px solid black;
                font-size: 1rem;
                font-weight: 700;
                margin: 2% 6% 2% 0%;
                text-align: justify;

            }
            a{
                font-family: Rokkitt, Arial, Helvetica, sans-serif;
                margin: 10px 0px;
                // border: 1px solid black;
                font-size: 0.85rem;
                font-weight: 600;
                padding: 0.5em 1em;
                background-image: linear-gradient(to right, #000046, #140656, #290866, #3e0975, #530784, #6a0489, #7f028e, #940092, #aa008d, #be0088, #d00782, #e01c7b);
                background-image: linear-gradient(to right, #0808b4, #2a04ae, #3a02a9, #4500a3, #4e009e, #65009a, #780097, #880093, #a6008f, #c0008a, #d70083, #ec117b);
                background-image: linear-gradient(to right, #d42379, #c50083, #b1008e, #97009a, #7500a5, #6600af, #5000b9, #2a09c4, #3b0ad0, #4b0add, #590be9, #680af5);
                background-image: linear-gradient(to right, #c33764, #a62a6f, #822675, #572676, #1d2671);
                color: white;
                text-decoration: none;
                border-radius: 1em;
                letter-spacing: 1px;
            }
        }
        .sub-container2{
            // margin: 10px;
            // border: 1px solid black;
            grid-area: c2;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: left;

            img{
                margin: 5px 10px;
                width: 30px;
                // filter: invert(100%);
                transition: all ease 1s;
                

                &:hover{
                    //&:hover == img:hover
                    transform: translateY(-10px);
                    transition: all ease 1s;
                }
            }
            .small-image{
                margin: 20px;
                width: 40px;
            }
        }
    }

    .container2{
        // margin: 10px;
        // border: 1px solid black;
        // background-color: white;
        display: grid;
        // background-image: url(Intro_section/suriya_photo_1.jpg);

        img{
            align-self: center;
            justify-self: center;
            // margin: 10px;
            // border: 1px solid black;
            width: 100%;
            //95% of the parent element (container 2)
            border-radius: 50%;
            // filter: opacity(0.5);
            // background-color: rgba(18, 18, 245, 1);
            filter: grayscale(100%) opacity(75%);
        }
    }
}
@media (max-width: 900px){
    .intro{
        display: grid;
        grid-template: 1fr / 1.7fr 1.5fr;
        grid-template-areas: 
            "c1 c2";
    }
}
@media (max-width: 700px)
{

    .intro{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;

        .container2{
            width: 60%;
            margin-top: 20%;

            img{
                border-radius: 50%;
            }
        }
        .container1{
            margin: 5% 5% 10% 5%;
            
            .sub-container1{
                h1{
                    margin: 2% 0%;
                    font-size: 1.1rem;

                    span{
                        font-size: 1.5rem;
                    }
                }

                p{
                    font-size: 0.8rem;
                    font-weight: 350px;
                    
                }

                a{
                    font-size: 0.7rem;
                    
                }
            }
            .sub-container2{
                display: none;
            }
        }
    }    
}
    

// S K I L L S   S E C T I O N
.skills{
    
    min-height: 100vh;
    padding: 0% 7%;
    //1 vh = (1/100)(height of viewport)
    //So 100vh == height of the entire screen
    //Similarly 1vw = (1/100)(width of viewport)
    
    // border: 1px solid black;
    background-image: linear-gradient(to right, #4f00e3, #4919e8, 
    #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6,
    #613bf1, #7136ec, #7e31e7, #8a2be2);

    h1{

        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 7% 0px 0px 40px;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px 5%;

        .skills_box{
            margin: 25px 15px;
            padding: 25px;
            display: grid;
            grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "i i i i i"
            "t t t t t"
            "s s s s s";
            // border: 1px solid black;
            background-color: rgba(245,245,245,0.2);
            width: 270px;
            border-radius: 20px;
            transition: 1.5s;

            //glassmorphism
            background: rgba( 253, 253, 255, 0.45 );
            box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
            backdrop-filter: blur(2.5px);
            -webkit-backdrop-filter: blur(0.45px);
            border-radius: 25px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );

            &:hover{
                background-color: rgba(255,255,255, 0.7);
                transition: 0.3s;
                cursor: pointer;
            }
    
            .image{
                margin: 5px;
                padding: 0px;
                grid-area: i;
                // border: 1px solid black;
                // background-color:yellowgreen;
                text-align: center;
                //text-align: center will make one line text and images to come to the center of the div element

                img{
                    max-width: 85px;
                }
            }
    
            .title{
                margin: 5px 0px 0px 0px;
                padding: 0px;
                grid-area: t;
                // border: 1px solid black;
                // background-color: teal;
                text-align: center;
                //text-align: center will make one line text and images to come to the center of the div element
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
            
            .short_text
            {
                margin: 5px 0px 0px 0px;
                padding: 0px;
                grid-area: s;
                // border: 1px solid black;
                // background-color: burlywood;
                font-size: 0.75rem;
                font-weight: 500;
                text-align: justify;
    
            }
        }
    }
}
@media (max-width: 1200px)
{
    .skills
    {
        padding: 0% 0%;
    }
}
@media (max-width: 720px)
{
    .skills{
        margin:0px; 
        padding: 15px;
        // border: 1px solid black;
        background-color: rgb(0, 19, 128);

        h1{
            padding: 20px 0px;
        }
        
        .container{
    
            .skills_box{
                margin: 10px;
                padding: 10px;
                display: grid;
                // grid-template-rows: 80px 15px 60px;
                grid-template-areas: 
                "t t t t t"
                "s s s s i"
                "s s s s i";
                background: rgba(255, 255, 255, .7);
                background: rgba( 253, 253, 255, 0.35 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur(2.5px);
                -webkit-backdrop-filter: blur(2.5px);
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                width: 95%;
                border-radius: 10px;
        
                .image{
                    margin: 10px;
                    padding: 0px;
                    grid-area: i;
                    // border: 1px solid black;
                    // background-color:yellowgreen;
                    text-align: center;
                    //text-align: center will make one line text and images to come to the center of the div element
                    align-self: center;
    
                    img{
                        width: 40px;
                        align-items: center;
                        justify-content: center;
                        // Image is not centered vertically
                    }
                }
        
                .title{
                    margin:0px;
                    padding: 0px;
                    grid-area: t;
                    // border: 1px solid black;
                    // background-color: teal;
                    text-align: center;
                    //text-align: center will make one line text and images to come to the center of the div element
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                
                .short_text
                {
                    margin: 3px;
                    padding: 0px;
                    grid-area: s;
                    // border: 1px solid black;
                    // background-color: burlywood;
                    font-size: 0.75rem;
                    font-weight: 500;
                    text-align: justify;
                    align-self: center;
                }
            }
        }
    }
}


// A C C O M P L I S H M E N T S   S E C T I O N
.accomp{
    // border: 1px solid black;
    background-image: linear-gradient(to right, #4f00e3, #4919e8, 
    #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6,
    #613bf1, #7136ec, #7e31e7, #8a2be2);

    //background-image: linear-gradient(to top, #000046, #001556, #002566, #003575, #004584, #005392, #00629f, #0071ab, #0082b9, #0093c7, #07a4d4, #1cb5e0);

    margin: 0px;
    min-height: 100vh;

    h1{
        // border: 1px solid black;
        text-align: center;
        margin: 0px;
        padding: 30px 2% 0px 2%;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .main_container{
        // border: 1px solid black;
        margin: 0% 15%;
        padding: 0% 2% 2% 2%;

        h3{
            // border: 1px solid black;
            font-size: 1rem;
            font-weight: 900;
            margin: 45px 0px 10px 0px;
        }

        .container
        {
            // border: 1px solid black;
            margin: 0% 5%;
            padding: 0%;

            .sub_container{
                // border: 1px solid black;
                margin: 25px 0px;
                display: grid;
                grid-gap: 5px;
                grid-template-rows: auto;
                grid-template-columns: 0.75fr 0.75fr 6.5fr 1fr;
                grid-template-areas: "i1 i2 t l";
                border-radius: 15px;
                transition: all ease 1.5s;

                //Glassmorphism (for sub containers)
                background: rgba( 255, 255, 255, 0.45 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 0.0px );
                -webkit-backdrop-filter: blur( 0.0px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );

                &:hover{
                    transform: scale(1.02);
                    transition: all ease 1s;
                }

                .image1{
                    // border: 1px solid black;
                    text-align: center;
                    grid-area: i1;
                    font-size: 0.5rem;
                    align-self: center;

                    img{
                        width: 50px;
                        margin: 5px;
                    }
                }
                .image2{
                    // border: 1px solid black;
                    grid-area: i2;
                    font-size: 0.5rem;
                    text-align: center;
                    align-self: center;

                    img{
                        width: 50px;
                        margin: 5px;
                    }
                }
                .text
                {
                    // border: 1px solid black;
                    grid-area: t;
                    font-size: 0.8rem;
                    align-self: center;
                    line-height: 1rem;

                    .h{
                        font-size: 0.9rem;
                        font-weight: 800;
                        letter-spacing: 2px;
                    }
                    .p{
                        font-size: 0.65rem;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                    }
                }
                .link
                {
                    grid-area: l;
                    font-size: 0.5rem;
                    align-self: center;
                    justify-self: center;
                    
                    a{
                        img{
                            width: 30px;
                            transition: all ease 1s;
                        }
                        img:hover
                        {
                            transform: translateX(8px);
                            // If the user hovers over the arrow, it will slide to the right by 8px
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px)
{
    .accomp{
        background-color: pink;
        .main_container{
            margin: 0% 3%;
            .container1{
                margin: 0% 0% 0% 4%;
            }
        }
    }
}

@media (max-width: 800px)
{
    .accomp{
        background-color: lightblue;
        .main_container{
            .container{
                margin: 0% 0% 0% 1%;
                .sub_container{
                    .text{
                        .h{
                            font-family: san-serif;
                            font-size: 0.8rem;
                            font-weight: bolder;
                            letter-spacing: 1px;
                            color: brown;
                        }
                        .p{
                            font-size: 0.6rem;
                            letter-spacing: normal;
                            font-weight: 600px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px)
{
    .accomp{
        background-color: lightgreen;
        .main_container{
            .container{
                margin: 0;
                .sub_container{
                    padding: 14px 6px;
                    margin: 10px 0px;



                    .image1, .image2{
                        img{
                            width: 35px;
                        }
                    }

                    .text{
                        line-height: normal;

                        .h{
                            letter-spacing: normal;
                        }
                    }
                    .link{
                        img{
                            width: 20px;
                        }
                    }

                }
            }
        }
    }
}


//C O N T A C T   D E T A I L S


.contact{
    background-image: linear-gradient(to bottom, #1c075e, #20086b, #240979, #290a87, #2d0b95);
    padding: 25px 0px;
    
    
    h1{
        font-size: 1.15rem;
        font-weight: 700;
        letter-spacing: 3px;
        color: cornflowerblue;
        text-align: center;
        margin-bottom: 40px;
    }
    .main_container{
        // border: 1px solid white;
        margin: 0px 0px 30px 0px;
        display: flex;
        justify-content: space-between;

        .container1{
            // border: 1px solid white;
            margin: 0px 0px 0px 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .info{
                // border: 1px solid white;
                margin: 5px;
                transition: all ease 2s;
                display: flex;
                //flex to just align the image and text vertically to the center

                &:hover{
                    transform: scaleX(1.03);
                    transition: all ease 1s;

                    span{
                        color: #838bd3;
                    }
                }

                img{
                    width: 20px;
                    align-self: center;
                    // justify-self: center;
                    margin: 5px;
                    filter: invert(100%);
                }

                span{
                    font-size: 0.9rem;
                    // border: 1px solid white;
                    margin: 5px;
                    color: whitesmoke;
                    }
            }
        }
        .container2{
            // border: 1px solid white;
            margin: 0% 3% 0% 0%;

            .link{
                a{
                    img{
                        width: 35px;
                        margin: 5px 0px;
                        filter: grayscale(65%);
                        transition: all ease 1s;

                        &:hover{
                            filter: grayscale(0%);
                            transform: scale(1.1);
                            transition: all ease 1s;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 750px)
{
    .contact{
        h1{
            font-size: 1rem;
        }
        .main_container{
            .container1{
                .info{
                    span{
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 530px)
{
    .contact{
        h1{
            font-size: 0.9rem;
        }
        .main_container{
            margin: 0px 0px 60px 0px;
            .container1{
                .info{
                    span{
                        font-size: 0.75rem;
                    }
                }
            }
            .container2{
                .link{
                    a{
                        img{
                            width: 30px;
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}