@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@351&display=swap'); //Rokkitt Font for h1 in intro section
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap'); //Crimson Pro Font for the remaining typography


*{
    margin: 0;
    padding:0;
    font-family: 'Crimson Pro', sans-serif;
    box-sizing: border-box;
    //border-box is to include the padding and border are included in the width and height
    font-size: 20px;
}

html
{
    scroll-behavior: smooth;
}

//1.  N A V I G A T I O N  B A R

nav{
    position: fixed;
    z-index: 10;
    background-image: linear-gradient(to top, #1c075e, #20086b, #240979, #290a87, #2d0b95);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
}

nav .text h3{
    color: whitesmoke;
    font-size: 0.85rem;
    letter-spacing: 6px;
    text-align: center;
}

nav .text h6{
    color: rgb(172, 172, 172);
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 0.75rem;
    // text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    border-radius: 16px;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    // line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
@media (min-width: 900px){
    nav a:hover{
        background: #400ac9;
        transition: 0.5s;
    }
}

@media (max-width: 900px)
{
    nav ul li a{
        font-size: 16px;
        
    }
}

@media (max-width: 800px)
{
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 40vh;
        top: 8vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;    
        display: flex;
        flex-direction: column;
        padding: 3% 0%;

        //glassmorphism
        background-color: #010e3696;
        backdrop-filter: blur(10px);

    }

    nav ul li{
        display: block;
        margin: 5px 0;
        height: 6vh;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 0.75rem;
        letter-spacing: 1.5px;

    }

    a:hover, a.active{
        background-color: transparent;
        
    }

    #check:checked ~ ul{
        left: 0;
    }
}

// I N T R O   S E C T I O N


.intro{
    padding: 10vh 4vw;
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #8da2f3, #919fee, #959cea, #8c81d8, #8664c3, #8345ab, #7f1d90);
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #89a5f7, #89a5f7, #89a5f7, #7291f1, #5a7cea, #4168e2, #2153d9);
    min-height: 100vh;               //to make this section fill the whole screen if it is smaller than 100vh
    display: grid;                   //Used grid (grid-template-areas) to position the c2 container on top of c1 in mobile screens
    grid-template: 1fr / 2fr 1.5fr;  //1 row and two columns (2 : 1.5)
    // padding: 0% 5% 7% 5%;

    grid-template-areas: 
        "c1 c2";

    .container1{
        margin: 0% 5%;
        grid-area: c1;
        display: flex;
        flex-direction: column; //default flex-direction is row
        justify-content: space-around; //more space in between the elements inside parent element


        .sub-container1{
            margin: 10% 0% 5% 0%;
            min-height: 30%;

            h1{
                font-family: Rokkitt, sans-serif;
                margin-bottom: 15%;
                font-size: 1.3rem;
                letter-spacing: 2px;
                margin: 0.7em 0em;

                span{
                    font-family: Rokkitt, sans-serif;
                    color: whitesmoke;
                    font-size: 2rem;
                }
            }
            p{
                font-size: 1rem;
                font-weight: 700;
                margin: 2% 15% 2% 0%;  //leaving more space in the right so as the text and picture dont come too close
                text-align: justify;
            }
            .resume{
                margin: 5% 0%;
                
                a{
                    font-family: Rokkitt, sans-serif;
                    margin: 0px 0px;
                    font-size: 0.85rem;
                    font-weight: 600;
                    padding: 0.5em 1em;
                    color: rgb(12, 12, 12);
                    text-decoration: none;
                    border-radius: 1em;
                    letter-spacing: 1px;
                    background-image: linear-gradient(to right, #eb125d, #0c7dfe);
                    transition: 2s all;
                    box-shadow: 0px 0px 10px rgb(29, 5, 95);
                }
            }
            .resume:hover{
                color: white;
            }
        }
        .sub-container2{
            grid-area: c2;
            height: 10%;
            display: flex;
            align-items: center;
            padding-top: 15%;

            img{
                margin: 5px 30px 5px 0px;
                width: 25px;
                transition: all ease 1s;
                
                &:hover{        //&:hover == img:hover
                    transform: translateY(-10px); //the icons moves up when user hovers over it
                    transition: all ease 1s;
                }
            }
            .small-image{
                //The icons of HackerRank and Youtube are smaller than inkedin and Github icons, so this class is created to style the smaller icons
                margin: 5px 30px 5px 0px;
                width: 33px;
            }
        }
    }

    .container2{
        display: grid; //grid is used to use align-self and justify-self (easy way to position img)

        img{
            align-self: center;
            justify-self: center;
            width: 90%;     //100% of the parent element (container 2)
            // height: 100%;
            border-radius: 50%;
            filter: grayscale(100%) opacity(75%);
            box-shadow: 0px 0px 20px 0px blue;
        }
    }
}

@media (max-width: 900px){
    .intro{
        display: grid;
        grid-template: 1fr / 2.5fr 1.5fr;   //The ratio is increased from 2:1.5 to 2.5:1.5
        grid-template-areas: 
            "c1 c2";
    }
}

@media (max-width: 700px)
{
    .intro{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;

        .container2{
            width: 55%;
            margin-top: 10%; //to avoid the picture from hiding under nav bar

            img{
                border-radius: 50%; //to get a circle frame
            }
        }
        .container1{
            margin: 5% 5% 10% 5%;
            
            .sub-container1{
                margin: 0%;
                h1{
                    margin-bottom: 2% 0%;
                    font-size: 1.1rem;

                    span{
                        font-size: 1.5rem;
                    }
                }

                p{
                    font-size: 0.8rem;
                    font-weight: 350px;
                    margin: 5% 1% 0% 0%;
                    
                }

                a{
                    font-size: 0.7rem;
                }
            }
            .sub-container2{
                display: none;
            }
        }
    }    
}
    

// S K I L L S   S E C T I O N
.skills{
    min-height: 100vh;
    //1 vh = (1/100)(height of viewport)    //So 100vh == height of the entire screen   //Similarly 1vw = (1/100)(width of viewport)
    padding: 7% 7%;
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #8da2f3, #919fee, #959cea, #8c81d8, #8664c3, #8345ab, #7f1d90);
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #89a5f7, #89a5f7, #89a5f7, #7291f1, #5a7cea, #4168e2, #2153d9);
    h1{
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: 3%;
        font-weight: 700;
        color: whitesmoke;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0% 5%;

        .skills_box{
            margin: 25px 15px;
            padding: 25px;
            display: grid;
            grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "i i i i i"
            "t t t t t"
            "s s s s s";
            width: 270px;
            border-radius: 20px;
            transition: 2.5s;

            //glassmorphism
            background: rgba( 225, 225, 225, 0.20 );
            box-shadow: 0 0px 35px 2px rgba( 31, 38, 135, 0.77 );
            backdrop-filter: blur( 1.0px );

            background: rgba(255, 255, 255, 0.438);
            box-shadow: 0px 0px 15px 2px rgba(13, 19, 105, 0.77);
            backdrop-filter: blur(3px);

            &:hover{
                background: rgba(255,255,255, 0.7);
                box-shadow: 0 0px 50px 0px rgba(185, 185, 185, 0.47);
                transition: 0.3s;
                cursor: pointer;
            }
    
            .image{
                grid-area: i;
                margin: 5px;
                padding: 0px;
                text-align: center;     //text-align: center will make one line text and images to come to the center of the div element

                img{
                    max-width: 85px;
                }
            }
    
            .title{
                margin: 5px 0px 0px 0px;
                padding: 0px;
                grid-area: t;
                text-align: center;     //text-align: center will make one line text and images to come to the center of the div element
                font-size: 1rem;
                font-weight: 800;
                letter-spacing: 3px;
                color: #021347;
            }
            
            .short_text{
                margin: 10px 0px 0px 0px;
                padding: 0px;
                grid-area: s;
                font-size: 0.75rem;
                font-weight: 300;
                text-align: justify;
                color: rgb(26, 26, 26);
            }
        }
    }
}

@media (max-width: 1200px)
{
    .skills{
        padding: 7% 0%;
        //When view port width is more than 1200px, if the left and right paddings are not 7%, 4 boxes will be arranged in the first row
    }
}

@media (max-width: 700px)
{
    .skills{
        padding-top: 15vh;
        padding-bottom: 10vh;

        h1{
            padding-bottom: 20px;
        }
        
        .container{
    
            .skills_box{
                margin: 10px;
                padding: 10px;
                display: grid;
                grid-template-areas: 
                "t t t t t"
                "s s s s i"
                "s s s s i";
                width: 95%;
                border-radius: 10px;

                //GLASSMORPHISM
                box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 ); //Blur around the box for 15px
                backdrop-filter: blur(.5px);
                        
                .image{
                    margin: 10px;
                    padding: 0px;
                    grid-area: i;
                    text-align: center;    //text-align: center will make one line text and images to come to the center of the div element
                    align-self: center;
    
                    img{
                        width: 40px;
                        align-items: center;
                        justify-content: center;
                    }
                }
        
                .title{
                    margin:0px;
                    padding: 0px;
                    grid-area: t;
                    text-align: center;  //text-align: center will make one line text and images to come to the center of the div element
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                
                .short_text
                {
                    margin: 3px;
                    padding: 0px;
                    grid-area: s;
                    font-size: 0.75rem;
                    font-weight: 500;
                    text-align: justify;
                    align-self: center;
                }
            }
        }
    }
}


// A C C O M P L I S H M E N T S   S E C T I O N
.accomp{
    padding: 7% 0%;
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #8da2f3, #919fee, #959cea, #8c81d8, #8664c3, #8345ab, #7f1d90);
    background-image: linear-gradient(to left bottom, #2153d9, #4168e2, #5a7cea, #7291f1, #89a5f7, #89a5f7, #89a5f7, #89a5f7, #7291f1, #5a7cea, #4168e2, #2153d9);
    min-height: 100vh;

    h1{
        text-align: center;
        font-size: 1.61rem; //in skills section, it is 1.75rem
        margin-bottom: 3%;
        font-weight: 700;
        color: whitesmoke;
        letter-spacing: 0.5px; //whereas in skills section, letter spacing for h1 is 5px
        text-transform: uppercase;
    }

    .main_container{
        margin: 0% 15%;
        padding: 0% 2% 2% 2%;
        // border: 1px solid black;

        h3{
            font-size: 1rem;
            font-weight: 900;
            margin: 45px 0px 10px 0px;
            color: whitesmoke;
            letter-spacing: 1px;
        }

        .container{
            margin: 0% 4%;
            padding: 0%;
            // border: 1px solid black;

            .no_link{
                .link{
                    display: none;
                }
            }

            .sub_container{
                margin: 25px 0px;
                display: grid;
                grid-gap: 5px;
                grid-template-rows: auto;
                grid-template-columns: 0.75fr 0.75fr 6.5fr 1fr;
                grid-template-areas: "i1 i2 t l";
                border-radius: 8.5px;
                transition: all ease 1.5s;

                //Glassmorphism (for sub containers)
                background: rgba(255, 255, 255, 0.438);
                box-shadow: 0px 0px 15px 2px rgba(13, 19, 105, 0.77);
                backdrop-filter: blur(3px);

                &:hover{
                    transform: scale(1.02);
                    transition: all ease 1s;
                    background-color: rgba(255, 255, 255, 0.638);;
                }

                .image1{
                    text-align: center;
                    grid-area: i1;
                    font-size: 0.5rem;
                    align-self: center;

                    img{
                        width: 50px;
                        margin: 5px;
                        filter: contrast(150%);
                    }
                }
                .image2{
                    grid-area: i2;
                    font-size: 0.5rem;
                    text-align: center;
                    align-self: center;

                    img{
                        width: 50px;
                        margin: 5px;
                        filter: contrast(130%);
                    }
                }
                .text
                {
                    grid-area: t;
                    align-self: center;
                    line-height: 1rem;

                    .h{
                        font-size: 0.9rem;
                        font-weight: 800;
                        letter-spacing: 1px;

                        span{
                            //The span element is inside the h element. In mobile screens, to improve the layout, this span element will not be displayed
                            //But in desktop screens, span element gets the same styling as h element
                            font-size: 0.9rem;
                            font-weight: 800;
                            letter-spacing: 1px;
                        }
                    }
                    .p{
                        font-size: 0.65rem;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                        color: rgb(39, 39, 39);

                        span{
                            //The same reason as mentioned for the span inside .h
                            font-size: 0.65rem;
                            font-weight: 300;
                            letter-spacing: 0.5px;
                            color: rgb(39, 39, 39);
                        }
                    }
                }
                .link
                {
                    grid-area: l;
                    align-self: center;
                    justify-self: center;
                    
                    a{
                        img{
                            width: 22px;
                            transition: all ease 1s;
                            align-self: center;
                            justify-self: center;
                            filter: opacity(80%);
                        }
                        img:hover
                        {
                            transform: translateX(8px);   // If the user hovers over the arrow, it will slide to the right by 8px
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px)
{
    .accomp{
        .main_container{
            margin: 0% 5%;
            .container{
                margin: 0% 4%;
            }
        }
    }
}

@media (max-width: 800px)
{
    .accomp{
        .main_container{
            .container{
                margin: 0% 4%;
                .sub_container{
                    .text{
                        .h{
                            font-size: 0.8rem;
                            font-weight: 900;
                            letter-spacing: 1px;
                        }
                        .p{
                            font-size: 0.58rem;
                            letter-spacing: normal;
                            font-weight: 600px;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px)
{
    .accomp{
        padding-top: 15vh;
        padding-bottom: 10vh;
        .main_container{
            .container{
                margin: 0%;
                .sub_container{
                    padding: 6px 6px;
                    margin: 15px 0px;

                    .image1, .image2{
                        img{
                            width: 35px;
                        }
                    }
                    .text{
                        line-height: normal;

                        .h{
                            letter-spacing: normal;

                            span{
                                display: none;
                            }
                        }
                        .p{
                            span{
                                display: none;
                            }
                        }
                    }
                    .link{
                        a{
                            img{
                                width: 15px;

                                &:hover{
                                    transform: translateX(0px);
                                    //In mobile screens, if the user hovered over the arrow, it will not slide to right
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//C O N T A C T   D E T A I L S
.contact{
    background-image: linear-gradient(to bottom, #1c075e, #20086b, #240979, #290a87, #2d0b95);
    padding: 4% 2%;  
    
    h1{
        font-size: 1.15rem;
        font-weight: 700;
        letter-spacing: 3px;
        color: rgb(93, 132, 184);
        text-align: center;
        margin-bottom: 5vh;
    }
    .main_container{
        display: flex;
        justify-content: space-between;
        margin: 0;

        .container1{
            margin: 0px 0px 0px 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .info{
                margin: 5px;
                transition: all ease 2s;
                display: flex;           //flex to just align the image and text vertically to the center

                &:hover{
                    transform: scaleX(1.03);
                    transition: all ease 1s;

                    span{
                        color: #838bd3;
                    }
                }

                img{
                    width: 20px;
                    align-self: center;
                    margin: 5px;
                    filter: invert(100%);      //The original image is black, to convert it to white, invert filter is used.
                }

                span{
                    font-size: 0.9rem;
                    margin: 5px;
                    color: whitesmoke;
                }
            }
        }
        .container2{
            margin: 0% 3% 0% 0%;

            .link{
                a{
                    img{
                        width: 35px;
                        margin: 5px 0px;
                        // filter: grayscale(65%);
                        transition: all ease 1s;
                        animation: beats 2.5s infinite ease-in-out;

                        &:hover{
                            filter: grayscale(0%);
                            transform: scale(1.15);
                            animation: none;
                            transition: all ease 1s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes beats {
    0%{
        transform: scale(0.95);
        opacity: 0.7;
    }
    50%{
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(0.9);
        opacity: 0.7;
    }
}
@media (max-width: 700px)
{
    .contact{
        padding: 4% 2.5% 12% 2.5%;
        h1{
            font-size: 1.05rem;
        }
        .main_container{
            .container1{
                .info{
                    span{
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 550px)
{
    .contact{
        h1{
            font-size: 0.9rem;
        }
        .main_container{
            .container1{
                .info{
                    span{
                        font-size: 0.75rem;
                    }
                }
            }
            .container2{
                .link{
                    a{
                        img{
                            width: 30px;
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}


footer{
    font-family: Rokkitt, sans-serif;
    background-color: #1c075e;
    background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
    padding: 3px 0px;
    p{
        font-size: 0.65rem;
        letter-spacing: 1px;
        font-weight: 600;
        text-align: center;
        color: black;
    }
}