@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@351&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1c075e), color-stop(#20086b), color-stop(#240979), color-stop(#290a87), to(#2d0b95));
  background-image: linear-gradient(to top, #1c075e, #20086b, #240979, #290a87, #2d0b95);
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 6%;
}

nav .text h3 {
  color: whitesmoke;
  font-size: 0.85rem;
  letter-spacing: 6px;
  text-align: center;
}

nav .text h6 {
  color: #acacac;
  font-size: 0.65rem;
  letter-spacing: 3px;
  text-align: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  border-radius: 16px;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (min-width: 900px) {
  nav a:hover {
    background: #400ac9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (max-width: 900px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    max-height: 46vh;
    background: #2c3e50;
    top: 8vh;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #010e36;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15% 0%;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    height: 6vh;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
  }
  a:hover, a.active {
    background-color: #010e36;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.intro {
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3), color-stop(#4919e8), color-stop(#4126ed), color-stop(#3931f2), color-stop(#303af6), color-stop(#3b3cf6), color-stop(#453df6), color-stop(#4d3ff6), color-stop(#613bf1), color-stop(#7136ec), color-stop(#7e31e7), to(#8a2be2));
  background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template: 1fr / 2fr 1.5fr;
  padding: 0% 5% 7% 5%;
      grid-template-areas: "c1 c2";
}

.intro .container1 {
  margin: 0% 5%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro .container1 .sub-container1 {
  margin: 25% 0% 5% 0%;
  min-height: 50%;
}

.intro .container1 .sub-container1 h1 {
  font-family: Rokkitt, sans-serif;
  margin: 15% 0%;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 1em 0em;
}

.intro .container1 .sub-container1 h1 span {
  color: whitesmoke;
  font-size: 2rem;
}

.intro .container1 .sub-container1 p {
  font-size: 1rem;
  font-weight: 700;
  margin: 2% 15% 2% 0%;
  text-align: justify;
}

.intro .container1 .sub-container1 .resume {
  margin: 5% 0%;
}

.intro .container1 .sub-container1 .resume .res_btn {
  font-family: Rokkitt, Arial, Helvetica, sans-serif;
  margin: 0px 0px;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5em 1em;
  color: #2b2b2b;
  text-decoration: none;
  border-radius: 1em;
  letter-spacing: 1px;
  -webkit-animation: colour_change 3s infinite;
          animation: colour_change 3s infinite;
}

.intro .container1 .sub-container1 .resume .res_btn:hover {
  opacity: 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.intro .container1 .sub-container2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c2;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
}

.intro .container1 .sub-container2 img {
  margin: 5px 30px 5px 0px;
  width: 25px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.intro .container1 .sub-container2 img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.intro .container1 .sub-container2 .small-image {
  margin: 5px 30px 5px 0px;
  width: 33px;
}

.intro .container2 {
  display: -ms-grid;
  display: grid;
}

.intro .container2 img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%) opacity(75%);
          filter: grayscale(100%) opacity(75%);
}

@-webkit-keyframes colour_change {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#eb125d), color-stop(#e5419e), color-stop(#c66bd3), color-stop(#958ef4), color-stop(#5da9ff), color-stop(#44b3ff), color-stop(#28bcff), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), to(#0cc5fe));
    background-image: linear-gradient(to right, #eb125d, #e5419e, #c66bd3, #958ef4, #5da9ff, #44b3ff, #28bcff, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe);
    opacity: 80%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 100%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#eb125d), color-stop(#e5419e), color-stop(#c66bd3), color-stop(#958ef4), color-stop(#5da9ff), color-stop(#44b3ff), color-stop(#28bcff), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), to(#0cc5fe));
    background-image: linear-gradient(to right, #eb125d, #e5419e, #c66bd3, #958ef4, #5da9ff, #44b3ff, #28bcff, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe);
    opacity: 80%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes colour_change {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#eb125d), color-stop(#e5419e), color-stop(#c66bd3), color-stop(#958ef4), color-stop(#5da9ff), color-stop(#44b3ff), color-stop(#28bcff), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), to(#0cc5fe));
    background-image: linear-gradient(to right, #eb125d, #e5419e, #c66bd3, #958ef4, #5da9ff, #44b3ff, #28bcff, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe);
    opacity: 80%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 100%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#eb125d), color-stop(#e5419e), color-stop(#c66bd3), color-stop(#958ef4), color-stop(#5da9ff), color-stop(#44b3ff), color-stop(#28bcff), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), color-stop(#0cc5fe), to(#0cc5fe));
    background-image: linear-gradient(to right, #eb125d, #e5419e, #c66bd3, #958ef4, #5da9ff, #44b3ff, #28bcff, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe, #0cc5fe);
    opacity: 80%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 900px) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 2.5fr 1.5fr;
        grid-template: 1fr / 2.5fr 1.5fr;
        grid-template-areas: "c1 c2";
  }
}

@media (max-width: 700px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro .container2 {
    width: 55%;
    margin-top: 20%;
  }
  .intro .container2 img {
    border-radius: 50%;
  }
  .intro .container1 {
    margin: 5% 5% 10% 5%;
  }
  .intro .container1 .sub-container1 {
    margin: 0%;
  }
  .intro .container1 .sub-container1 h1 {
    margin: 2% 0%;
    font-size: 1.1rem;
  }
  .intro .container1 .sub-container1 h1 span {
    font-size: 1.5rem;
  }
  .intro .container1 .sub-container1 p {
    font-size: 0.8rem;
    font-weight: 350px;
    margin: 0% 0%;
  }
  .intro .container1 .sub-container1 a {
    font-size: 0.7rem;
  }
  .intro .container1 .sub-container2 {
    display: none;
  }
}

.skills {
  min-height: 100vh;
  padding: 7% 7%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3bd), color-stop(#4919e8bd), color-stop(#4126edbd), color-stop(#3931f2bd), color-stop(#303af6bd), color-stop(#3b3cf6bd), color-stop(#453df6bd), color-stop(#4d3ff6bd), color-stop(#613bf1bd), color-stop(#7136ecbd), color-stop(#7e31e7bd), to(#8a2be2bd));
  background-image: linear-gradient(to right, #4f00e3bd, #4919e8bd, #4126edbd, #3931f2bd, #303af6bd, #3b3cf6bd, #453df6bd, #4d3ff6bd, #613bf1bd, #7136ecbd, #7e31e7bd, #8a2be2bd);
}

.skills h1 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 3%;
  font-weight: 700;
  color: whitesmoke;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0% 5%;
}

.skills .container .skills_box {
  margin: 25px 15px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
      grid-template-areas: "i i i i i" "t t t t t" "s s s s s";
  width: 270px;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background: rgba(225, 225, 225, 0.2);
  -webkit-box-shadow: 0 0px 35px 2px rgba(31, 38, 135, 0.77);
          box-shadow: 0 0px 35px 2px rgba(31, 38, 135, 0.77);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.skills .container .skills_box:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0px 50px 0px rgba(185, 185, 185, 0.47);
          box-shadow: 0 0px 50px 0px rgba(185, 185, 185, 0.47);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.skills .container .skills_box .image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: i;
  margin: 5px;
  padding: 0px;
  text-align: center;
}

.skills .container .skills_box .image img {
  max-width: 85px;
}

.skills .container .skills_box .title {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #021347;
}

.skills .container .skills_box .short_text {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: s;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: justify;
  color: #1a1a1a;
}

@media (max-width: 1200px) {
  .skills {
    padding: 7% 0%;
  }
}

@media (max-width: 700px) {
  .skills {
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
  .skills h1 {
    padding-bottom: 20px;
  }
  .skills .container .skills_box {
    margin: 10px;
    padding: 10px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "t t t t t" "s s s s i" "s s s s i";
    width: 95%;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(0.5px);
            backdrop-filter: blur(0.5px);
  }
  .skills .container .skills_box .image {
    margin: 10px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    grid-area: i;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .skills .container .skills_box .image img {
    width: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .container .skills_box .title {
    margin: 0px;
    padding: 0px;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: t;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .skills .container .skills_box .short_text {
    margin: 3px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: s;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: justify;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.accomp {
  padding: 7% 0%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3), color-stop(#4919e8), color-stop(#4126ed), color-stop(#3931f2), color-stop(#303af6), color-stop(#3b3cf6), color-stop(#453df6), color-stop(#4d3ff6), color-stop(#613bf1), color-stop(#7136ec), color-stop(#7e31e7), to(#8a2be2));
  background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
  min-height: 100vh;
}

.accomp h1 {
  text-align: center;
  font-size: 1.61rem;
  margin-bottom: 3%;
  font-weight: 700;
  color: whitesmoke;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.accomp .main_container {
  margin: 0% 15%;
  padding: 0% 2% 2% 2%;
}

.accomp .main_container h3 {
  font-size: 1rem;
  font-weight: 900;
  margin: 45px 0px 10px 0px;
  color: whitesmoke;
  letter-spacing: 1px;
}

.accomp .main_container .container {
  margin: 0% 4%;
  padding: 0%;
}

.accomp .main_container .container .sub_container {
  margin: 25px 0px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 0.75fr 0.75fr 6.5fr 1fr;
      grid-template-columns: 0.75fr 0.75fr 6.5fr 1fr;
      grid-template-areas: "i1 i2 t l";
  border-radius: 8.5px;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
  background: rgba(255, 255, 255, 0.438);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(13, 19, 105, 0.77);
          box-shadow: 0px 0px 15px 2px rgba(13, 19, 105, 0.77);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.accomp .main_container .container .sub_container:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.accomp .main_container .container .sub_container .image1 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i1;
  font-size: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accomp .main_container .container .sub_container .image1 img {
  width: 50px;
  margin: 5px;
}

.accomp .main_container .container .sub_container .image2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: i2;
  font-size: 0.5rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accomp .main_container .container .sub_container .image2 img {
  width: 50px;
  margin: 5px;
}

.accomp .main_container .container .sub_container .text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1rem;
}

.accomp .main_container .container .sub_container .text .h {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.accomp .main_container .container .sub_container .text .h span {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.accomp .main_container .container .sub_container .text .p {
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #272727;
}

.accomp .main_container .container .sub_container .text .p span {
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #272727;
}

.accomp .main_container .container .sub_container .link {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: l;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.accomp .main_container .container .sub_container .link a img {
  width: 22px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.accomp .main_container .container .sub_container .link a img:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

@media (max-width: 1000px) {
  .accomp {
    background-color: pink;
  }
  .accomp .main_container {
    margin: 0% 5%;
  }
  .accomp .main_container .container {
    margin: 0% 4%;
  }
}

@media (max-width: 800px) {
  .accomp .main_container .container {
    margin: 0% 4%;
  }
  .accomp .main_container .container .sub_container .text .h {
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .accomp .main_container .container .sub_container .text .p {
    font-size: 0.58rem;
    letter-spacing: normal;
    font-weight: 600px;
    font-weight: 200;
  }
}

@media (max-width: 550px) {
  .accomp {
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
  .accomp .main_container .container {
    margin: 0%;
  }
  .accomp .main_container .container .sub_container {
    padding: 6px 6px;
    margin: 15px 0px;
  }
  .accomp .main_container .container .sub_container .image1 img, .accomp .main_container .container .sub_container .image2 img {
    width: 35px;
  }
  .accomp .main_container .container .sub_container .text {
    line-height: normal;
  }
  .accomp .main_container .container .sub_container .text .h {
    letter-spacing: normal;
  }
  .accomp .main_container .container .sub_container .text .h span {
    display: none;
  }
  .accomp .main_container .container .sub_container .text .p span {
    display: none;
  }
  .accomp .main_container .container .sub_container .link img {
    width: 15px;
  }
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c075e), color-stop(#20086b), color-stop(#240979), color-stop(#290a87), to(#2d0b95));
  background-image: linear-gradient(to bottom, #1c075e, #20086b, #240979, #290a87, #2d0b95);
  padding: 4% 2%;
}

.contact h1 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #5d84b8;
  text-align: center;
  margin-bottom: 5vh;
}

.contact .main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.contact .main_container .container1 {
  margin: 0px 0px 0px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .main_container .container1 .info {
  margin: 5px;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .main_container .container1 .info:hover {
  -webkit-transform: scaleX(1.03);
          transform: scaleX(1.03);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.contact .main_container .container1 .info:hover span {
  color: #838bd3;
}

.contact .main_container .container1 .info img {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.contact .main_container .container1 .info span {
  font-size: 0.9rem;
  margin: 5px;
  color: whitesmoke;
}

.contact .main_container .container2 {
  margin: 0% 3% 0% 0%;
}

.contact .main_container .container2 .link a img {
  width: 35px;
  margin: 5px 0px;
  -webkit-filter: grayscale(65%);
          filter: grayscale(65%);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.contact .main_container .container2 .link a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (max-width: 700px) {
  .contact {
    padding: 4% 2.5% 12% 2.5%;
  }
  .contact h1 {
    font-size: 1.05rem;
  }
  .contact .main_container .container1 .info span {
    font-size: 0.85rem;
  }
}

@media (max-width: 550px) {
  .contact h1 {
    font-size: 0.9rem;
  }
  .contact .main_container .container1 .info span {
    font-size: 0.75rem;
  }
  .contact .main_container .container2 .link a img {
    width: 30px;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
/*# sourceMappingURL=main.css.map */