// All SASS variables are declared here
$blue: blue;

*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    //border-box is to include the padding and border are included in the width and height
    font-size: 20px;
}
html
{
    scroll-behavior: smooth;
    // smooth scrolling effects for navigation bar
}

// S K I L L S   S E C T I O N

.skills{
    padding: 0% 8%;
    margin: 0px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #4f00e3, #4919e8, 
    #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6,
    #613bf1, #7136ec, #7e31e7, #8a2be2);

    h1{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px 5%;

        .skills_box{
            margin: 25px 15px;
            padding: 25px;
            display: grid;
            grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "i i i i i"
            "t t t t t"
            "s s s s s";
            // border: 1px solid black;
            background-color: #eee;
            max-width: 300px;
            min-width: 270px;
            border-radius: 20px;
            transition: 1.5s;

            //glassmorphism
            background: rgba( 253, 253, 255, 0.45 );
            box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
            backdrop-filter: blur(2.5px);
            -webkit-backdrop-filter: blur(2.5px);
            border-radius: 25px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );

            &:hover{
                background-color: #ddd;
                transition: 0.3s;
                cursor: pointer;
            }
    
            .image{
                margin: 5px;
                padding: 0px;
                grid-area: i;
                // border: 1px solid black;
                // background-color:yellowgreen;
                text-align: center;
                //text-align: center will make one line text and images to come to the center of the div element

                img{
                    max-width: 85px;
                }
            }
    
            .title{
                margin: 5px 0px 0px 0px;
                padding: 0px;
                grid-area: t;
                // border: 1px solid black;
                // background-color: teal;
                text-align: center;
                //text-align: center will make one line text and images to come to the center of the div element
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
            
            .short_text
            {
                margin: 5px 0px 0px 0px;
                padding: 0px;
                grid-area: s;
                // border: 1px solid black;
                // background-color: burlywood;
                font-size: 0.75rem;
                font-weight: 500;
                text-align: justify;
    
            }
        }
    }
}

@media (max-width: 720px)
{
    .skills{
        margin: 10px 0px; //top 10px and sides 0px
        padding: 15px;
        // border: 1px solid black;
        background-color: rgb(0, 19, 128);
        
        .container{
    
            .skills_box{
                margin: 10px;
                padding: 10px;
                display: grid;
                // grid-template-rows: 80px 15px 60px;
                grid-template-areas: 
                "t t t t t"
                "s s s s i"
                "s s s s i";
                background: rgba(255, 255, 255, .7);
                background: rgba( 253, 253, 255, 0.35 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur(2.5px);
                -webkit-backdrop-filter: blur(2.5px);
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                min-width: 90%;
                border-radius: 10px;
        
                .image{
                    margin: 10px;
                    padding: 0px;
                    grid-area: i;
                    // border: 1px solid black;
                    // background-color:yellowgreen;
                    text-align: center;
                    //text-align: center will make one line text and images to come to the center of the div element
                    align-self: center;
    
                    img{
                        max-width: 85px;
                        align-items: center;
                        justify-content: center;
                        // Image is not centered vertically
                    }
                }
        
                .title{
                    margin:0px;
                    padding: 0px;
                    grid-area: t;
                    // border: 1px solid black;
                    // background-color: teal;
                    text-align: center;
                    //text-align: center will make one line text and images to come to the center of the div element
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                
                .short_text
                {
                    margin: 3px;
                    padding: 0px;
                    grid-area: s;
                    // border: 1px solid black;
                    // background-color: burlywood;
                    font-size: 0.75rem;
                    font-weight: 500;
                    text-align: justify;
                    align-self: center;
                }
            }
        }
    }
}

