* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.skills {
  min-height: 100vh;
  padding: 0% 4%;
  margin: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3), color-stop(#4919e8), color-stop(#4126ed), color-stop(#3931f2), color-stop(#303af6), color-stop(#3b3cf6), color-stop(#453df6), color-stop(#4d3ff6), color-stop(#613bf1), color-stop(#7136ec), color-stop(#7e31e7), to(#8a2be2));
  background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
}

.skills h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 40px 0px;
}

.skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px 5%;
}

.skills .container .skills_box {
  margin: 25px 15px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
      grid-template-areas: "i i i i i" "t t t t t" "s s s s s";
  background-color: rgba(245, 245, 245, 0.2);
  width: 270px;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background: rgba(253, 253, 255, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(0.45px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.skills .container .skills_box:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.skills .container .skills_box .image {
  margin: 5px;
  padding: 0px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: i;
  text-align: center;
}

.skills .container .skills_box .image img {
  max-width: 85px;
}

.skills .container .skills_box .title {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: t;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.skills .container .skills_box .short_text {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: s;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: justify;
}

@media (max-width: 1200px) {
  .skills {
    padding: 0% 0%;
  }
}

@media (max-width: 720px) {
  .skills {
    margin: 0px;
    padding: 15px;
    background-color: #001380;
  }
  .skills h1 {
    padding: 20px 0px;
  }
  .skills .container .skills_box {
    margin: 10px;
    padding: 10px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "t t t t t" "s s s s i" "s s s s i";
    background: rgba(255, 255, 255, 0.7);
    background: rgba(253, 253, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 95%;
    border-radius: 10px;
  }
  .skills .container .skills_box .image {
    margin: 10px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    grid-area: i;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .skills .container .skills_box .image img {
    width: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .container .skills_box .title {
    margin: 0px;
    padding: 0px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: t;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .skills .container .skills_box .short_text {
    margin: 3px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: s;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: justify;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=main.css.map */