@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@351&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1c075e), color-stop(#20086b), color-stop(#240979), color-stop(#290a87), to(#2d0b95));
  background-image: linear-gradient(to top, #1c075e, #20086b, #240979, #290a87, #2d0b95);
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 6%;
}

nav .text h3 {
  color: whitesmoke;
  font-size: 0.85rem;
  letter-spacing: 6px;
  text-align: center;
}

nav .text h6 {
  color: #acacac;
  font-size: 0.65rem;
  letter-spacing: 3px;
  text-align: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  border-radius: 16px;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (min-width: 952px) {
  nav a:hover {
    background: #400ac9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 92vh;
    background: #2c3e50;
    top: 8vh;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #010e36;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background-color: #010e36;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.intro {
  background-color: lightblue;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template: 1fr / 2fr 1.5fr;
      grid-template-areas: "c1 c2";
}

.intro .container1 {
  margin: 0% 5%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro .container1 .sub-container1 {
  margin: 5% 0%;
  height: 50%;
  vertical-align: middle;
}

.intro .container1 .sub-container1 h1 {
  font-family: "crimson Pro", Helvetica, sans-serif;
  margin: 10% 0%;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 1em 0em;
}

.intro .container1 .sub-container1 h1 span {
  color: red;
  font-size: 2rem;
}

.intro .container1 .sub-container1 p {
  font-family: rokkitt, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 2% 6% 2% 0%;
  text-align: justify;
}

.intro .container1 .sub-container1 a {
  font-family: Rokkitt, Arial, Helvetica, sans-serif;
  margin: 10px 0px;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 1em;
  letter-spacing: 1px;
}

.intro .container1 .sub-container2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c2;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.intro .container1 .sub-container2 img {
  margin: 5px 10px;
  width: 30px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.intro .container1 .sub-container2 img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.intro .container1 .sub-container2 .small-image {
  margin: 20px;
  width: 40px;
}

.intro .container2 {
  display: -ms-grid;
  display: grid;
}

.intro .container2 img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(90%) opacity(0.5);
          filter: grayscale(90%) opacity(0.5);
}

@media (max-width: 900px) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1.7fr 1.5fr;
        grid-template: 1fr / 1.7fr 1.5fr;
        grid-template-areas: "c1 c2";
  }
}

@media (max-width: 700px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .intro .container2 {
    width: 60%;
    margin-top: 20%;
  }
  .intro .container2 img {
    border-radius: 50%;
  }
  .intro .container1 {
    margin: 5% 5% 10% 5%;
  }
  .intro .container1 .sub-container1 h1 {
    margin: 2% 0%;
    font-size: 1.1rem;
  }
  .intro .container1 .sub-container1 h1 span {
    font-size: 1.5rem;
    color: red;
  }
  .intro .container1 .sub-container1 p {
    color: #3b3a3a;
    font-size: 0.8rem;
    font-weight: 350px;
  }
  .intro .container1 .sub-container1 a {
    font-size: 0.7rem;
  }
  .intro .container1 .sub-container2 {
    display: none;
  }
}

.skills {
  min-height: 100vh;
  padding: 0% 7%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3), color-stop(#4919e8), color-stop(#4126ed), color-stop(#3931f2), color-stop(#303af6), color-stop(#3b3cf6), color-stop(#453df6), color-stop(#4d3ff6), color-stop(#613bf1), color-stop(#7136ec), color-stop(#7e31e7), to(#8a2be2));
  background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
}

.skills h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7% 0px 0px 40px;
}

.skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px 5%;
}

.skills .container .skills_box {
  margin: 25px 15px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: auto auto auto / 1fr 1fr 1fr 1fr;
      grid-template-areas: "i i i i i" "t t t t t" "s s s s s";
  background-color: rgba(245, 245, 245, 0.2);
  width: 270px;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background: rgba(253, 253, 255, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 42, 194, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(0.45px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.skills .container .skills_box:hover {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.skills .container .skills_box .image {
  margin: 5px;
  padding: 0px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: i;
  text-align: center;
}

.skills .container .skills_box .image img {
  max-width: 85px;
}

.skills .container .skills_box .title {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.skills .container .skills_box .short_text {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: s;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: justify;
}

@media (max-width: 1200px) {
  .skills {
    padding: 0% 0%;
  }
}

@media (max-width: 720px) {
  .skills {
    margin: 0px;
    padding: 15px;
    background-color: #001380;
  }
  .skills h1 {
    padding: 20px 0px;
  }
  .skills .container .skills_box {
    margin: 10px;
    padding: 10px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "t t t t t" "s s s s i" "s s s s i";
    background: rgba(255, 255, 255, 0.7);
    background: rgba(253, 253, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 95%;
    border-radius: 10px;
  }
  .skills .container .skills_box .image {
    margin: 10px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    grid-area: i;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .skills .container .skills_box .image img {
    width: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .container .skills_box .title {
    margin: 0px;
    padding: 0px;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: t;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .skills .container .skills_box .short_text {
    margin: 3px;
    padding: 0px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: s;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: justify;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.accomp {
  background-image: -webkit-gradient(linear, left top, right top, from(#4f00e3), color-stop(#4919e8), color-stop(#4126ed), color-stop(#3931f2), color-stop(#303af6), color-stop(#3b3cf6), color-stop(#453df6), color-stop(#4d3ff6), color-stop(#613bf1), color-stop(#7136ec), color-stop(#7e31e7), to(#8a2be2));
  background-image: linear-gradient(to right, #4f00e3, #4919e8, #4126ed, #3931f2, #303af6, #3b3cf6, #453df6, #4d3ff6, #613bf1, #7136ec, #7e31e7, #8a2be2);
  margin: 0px;
  min-height: 100vh;
}

.accomp h1 {
  text-align: center;
  margin: 0px;
  padding: 30px 2% 0px 2%;
  font-size: 1.25rem;
  font-weight: bold;
}

.accomp .main_container {
  margin: 0% 15%;
  padding: 0% 2% 2% 2%;
}

.accomp .main_container h3 {
  font-size: 1rem;
  font-weight: 900;
  margin: 45px 0px 10px 0px;
}

.accomp .main_container .container {
  margin: 0% 5%;
  padding: 0%;
}

.accomp .main_container .container .sub_container {
  margin: 25px 0px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 0.75fr 0.75fr 6.5fr 1fr;
      grid-template-columns: 0.75fr 0.75fr 6.5fr 1fr;
      grid-template-areas: "i1 i2 t l";
  border-radius: 15px;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.accomp .main_container .container .sub_container:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.accomp .main_container .container .sub_container .image1 {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i1;
  font-size: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accomp .main_container .container .sub_container .image1 img {
  width: 50px;
  margin: 5px;
}

.accomp .main_container .container .sub_container .image2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: i2;
  font-size: 0.5rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accomp .main_container .container .sub_container .image2 img {
  width: 50px;
  margin: 5px;
}

.accomp .main_container .container .sub_container .text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  font-size: 0.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1rem;
}

.accomp .main_container .container .sub_container .text .h {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.accomp .main_container .container .sub_container .text .p {
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.accomp .main_container .container .sub_container .link {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: l;
  font-size: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.accomp .main_container .container .sub_container .link a img {
  width: 30px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.accomp .main_container .container .sub_container .link a img:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

@media (max-width: 1000px) {
  .accomp {
    background-color: pink;
  }
  .accomp .main_container {
    margin: 0% 3%;
  }
  .accomp .main_container .container1 {
    margin: 0% 0% 0% 4%;
  }
}

@media (max-width: 800px) {
  .accomp {
    background-color: lightblue;
  }
  .accomp .main_container .container {
    margin: 0% 0% 0% 1%;
  }
  .accomp .main_container .container .sub_container .text .h {
    font-family: san-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: brown;
  }
  .accomp .main_container .container .sub_container .text .p {
    font-size: 0.6rem;
    letter-spacing: normal;
    font-weight: 600px;
  }
}

@media (max-width: 500px) {
  .accomp {
    background-color: lightgreen;
  }
  .accomp .main_container .container {
    margin: 0;
  }
  .accomp .main_container .container .sub_container {
    padding: 14px 6px;
    margin: 10px 0px;
  }
  .accomp .main_container .container .sub_container .image1 img, .accomp .main_container .container .sub_container .image2 img {
    width: 35px;
  }
  .accomp .main_container .container .sub_container .text {
    line-height: normal;
  }
  .accomp .main_container .container .sub_container .text .h {
    letter-spacing: normal;
  }
  .accomp .main_container .container .sub_container .link img {
    width: 20px;
  }
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c075e), color-stop(#20086b), color-stop(#240979), color-stop(#290a87), to(#2d0b95));
  background-image: linear-gradient(to bottom, #1c075e, #20086b, #240979, #290a87, #2d0b95);
  padding: 25px 0px;
}

.contact h1 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: cornflowerblue;
  text-align: center;
  margin-bottom: 40px;
}

.contact .main_container {
  margin: 0px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .main_container .container1 {
  margin: 0px 0px 0px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .main_container .container1 .info {
  margin: 5px;
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .main_container .container1 .info:hover {
  -webkit-transform: scaleX(1.03);
          transform: scaleX(1.03);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.contact .main_container .container1 .info:hover span {
  color: #838bd3;
}

.contact .main_container .container1 .info img {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.contact .main_container .container1 .info span {
  font-size: 0.9rem;
  margin: 5px;
  color: whitesmoke;
}

.contact .main_container .container2 {
  margin: 0% 3% 0% 0%;
}

.contact .main_container .container2 .link a img {
  width: 35px;
  margin: 5px 0px;
  -webkit-filter: grayscale(65%);
          filter: grayscale(65%);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.contact .main_container .container2 .link a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (max-width: 750px) {
  .contact h1 {
    font-size: 1rem;
  }
  .contact .main_container .container1 .info span {
    font-size: 0.85rem;
  }
}

@media (max-width: 530px) {
  .contact h1 {
    font-size: 0.9rem;
  }
  .contact .main_container {
    margin: 0px 0px 60px 0px;
  }
  .contact .main_container .container1 .info span {
    font-size: 0.75rem;
  }
  .contact .main_container .container2 .link a img {
    width: 30px;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
/*# sourceMappingURL=main.css.map */