@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Poppins font */

*
{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif, Helvetica;
    box-sizing: border-box;
    /* border-box is to include the padding and border are included in the width and height */
}
html
{
    scroll-behavior: smooth;
    /* smooth scrolling effects for navigation bar*/
}

/* 1. N A V I G A T I O N   B A R */

header
{
    /* margin: 0 auto; */
    padding: 0px;
    position: fixed;
    /* position fixed is keeping the nav bar on the top of the website */
    width: 100%;
    background-color: #001463;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This will align the items to the center in Y-axis (when flex direction is default (flex-direction: row)) */
    padding: 3px 30px; /* If the padding has two values, 1st one is for top and bottom, 2nd one for left and right */
}
header .text
{
    color: #fff;
    margin: 0px;
    padding: 0px;
}

header .text h1
{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-weight: 650;
    font-size: 25px;
    text-align: center;
}
header .text p
{
    padding: 0;
    letter-spacing: 1.5px;
    font-size: 10px;
    font-weight: 650;
    text-transform: uppercase;
    text-align: center;
}
nav a
{
    /* Text styling for li, a, button */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 2px 10px;
    border-radius: 15px;
    border: 2px solid #214dff;
    background-color: #2953ff;
}
header nav ul
{
    list-style: none;
    display: flex;   
    /* To list out the list elements in a same line */ 
}
header nav ul li
{
    padding-left: 15px;
    align-items: center;
    justify-content: space-between ;
}
header nav ul li a:hover
{
    color: #0000CC;
    border: 1px solid #eee;
    transition: 0.1s;
    border-radius: 15px;
    margin: 0;
    background-color: #eee;
    /* When hovering over the links in nav bar, it will turn black */
}

header img
{
    width: 20px;
    transform: translateY(4px);
    margin-right: 5px;
    filter: invert(20%);
    
}

@media screen and (max-width: 850px){
    header
    {
        flex-direction: column;
        padding: 5px 10px;
        margin: 0;
        
    }
    header nav{
        padding: 20px 0px;
        width: 100%;
    }
    header ul{
        justify-content: space-evenly;
    }
    header nav ul li{
        padding-left: 0;
    }
    header nav ul li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 108px;
        margin: 0;
    }
    header nav ul li a img{
        width: 37px;
        margin-right: 0;
        filter: invert(100%);
    }
    header nav ul li a span{
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-top: 7px ;
    }
    
}

/* 3. S K I L L S    S E C T I O N*/


.skills
{
    margin: 0;
    padding: 40px 20px;
    /* To avoid the overlapping of the video and skills section, I added top padding by trial and error */
    background-color:#b8c6db;
    background-image: linear-gradient(-45deg,#b3bec4, #63a4ff);
}
.skills .heading
{
    margin-top: 0px;
    margin-bottom: 50px;   
}
.skills .heading h2
{
    color: rgb(7, 26, 153);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #000;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
}
.skills .content
{
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    flex-wrap: wrap;
    /* I dont know what flex-wrap does */
}
.skills .content .skillsBx
{
    padding: 30px 20px;
    background: #2a2a72;
    background-image: linear-gradient(to bottom, #009ffd, #02005e);
    color: #fff; /* font-colour is white */
    margin: 20px;
    max-width: 340px;
    max-height: 360px;
    text-align: center;
    transition: 0.8s;
    /* for nicer animation effect */
    border-radius: 20px;
    /* box-shadow: 50px #0000CC; */
}
.skills .content .skillsBx:hover
{
    background: #02005e;
}
.skills .content .skillsBx img
{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}
.skills .content .skillsBx h2
{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


/* C O N  T A C T    S E C T I O N */
.contact
{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    background: rgb(1, 14, 54);
}
.contact .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact .content .contactInfo
{
    padding: 40px 20px;
    background: rgb(1, 14, 54);
    border: 0px;
    color: #fff;
    margin: 20px;
    transition: 0.5s;
    border-radius: 20px;
    width: 40% ;
}
.contact .content .contactInfo h2
{
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 3px;
}
.contact .content .contactInfo li
{
    justify-content: left;
    list-style: none;
}
.contact .content .contactInfo li ul
{
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 500;
}
.contact .content .contactInfo li ul:hover
{
    color: #09c6f9;
    transition: 0.3s;
}
.contact .content .contactInfo li ul img
{
    min-width: 25px;
    max-width: 40px;
    height: 25px;
    padding-right: 10px;
    transform: translateY(6px);
}
.contact .content .icons
{
    padding: 40px 20px;
    background: rgb(1, 14, 54);
    border: 0px;
    color: #fff;
    margin: 20px;
    width: 5%;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    justify-content: left;
}
.contact .content .icons li
{
    list-style: none;
    justify-content: right;
    margin: 0;
}
.contact .content .icons li ul
{
    padding: 5px;
}
.contact .content .icons li ul a img
{
    width: 35px;
    height: 35px;
    filter: grayscale(85%);
    transition: 0.4s;
    /* The icon will be black and white */
}
.contact .content .icons li ul a img:hover
{
    filter: grayscale(0%);
    /* To make the icon colourful when hovering over it */
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}

/* -  -  - */

