@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Poppins font */

*
{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif, Helvetica;
    box-sizing: border-box;
    /* border-box is to include the padding and border are included in the width and height */
}
html
{
    scroll-behavior: smooth;
    /* smooth scrolling effects for navigation bar*/
}

/* 1. N A V I G A T I O N   B A R */

header
{
    /* margin: 0 auto; */
    padding: 0px;
    position: fixed;
    /* position fixed is keeping the nav bar on the top of the website */
    width: 100%;
    background-color: #001463;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This will align the items to the center in Y-axis (when flex direction is default (flex-direction: row)) */
    padding: 3px 30px; /* If the padding has two values, 1st one is for top and bottom, 2nd one for left and right */
}
header .text
{
    color: #fff;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

header .text .span-1
{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-weight: 650;
    font-size: 25px;
    text-align: center;
}
header .text .span-2
{
    padding: 0;
    letter-spacing: 1.5px;
    font-size: 10px;
    font-weight: 650;
    text-transform: uppercase;
    text-align: center;
}
header .text .span-3
{
    font-size: 0px;
}
nav a
{
    /* Text styling for li, a, button */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 2px 10px;
    border-radius: 15px;
    border: 2px solid #214dff;
    background-color: #2953ff;
}
header nav ul
{
    list-style: none;
    display: flex;   
    /* To list out the list elements in a same line */ 
}
header nav ul li
{
    padding-left: 15px;
    align-items: center;
    justify-content: space-between ;
}
header nav ul li a:hover
{
    color: #fff;
    border: 1px solid #001463;
    /*  */
    transition: 0.1s;
    border-radius: 15px;
    margin: 0;
    background-color: #001463;
    /* When hovering over the links in nav bar, it will turn black */
}

header img
{
    width: 20px;
    transform: translateY(4px);
    margin-right: 5px;
    filter: invert(20%);
    
}

@media screen and (max-width: 850px){
    header
    {
        flex-direction: column;
        padding: 5px 10px;
        margin: 0;   
    }
    header .text
    {
        display: inline;
    }
    header .text .span-1
    {
        font-size: 0px;
        letter-spacing: normal;
    }
    header .text .span-2{
        font-size: 0px;
    }
    header .text .span-3
    {
        font-size: 11px;
    }
    header nav{
        padding: 5px 0px;
        width: 100%;
    }
    header ul{
        justify-content: space-evenly;
    }
    header nav ul li{
        padding-left: 0;
    }
    header nav ul li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 95px;
        min-width: 85px;
        margin: 0;
    }
    header nav ul li a img{
        width: 25px;
        margin-right: 0;
        filter: invert(100%);
    }
    header nav ul li a span{
        font-size: 7px;
        font-weight: 800;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-top: 8px ;
    }
    
}

/* 3. S K I L L S    S E C T I O N*/


.skills
{
    margin: 0;
    padding: 40px 20px;
    /* To avoid the overlapping of the video and skills section, I added top padding by trial and error */
    background-color:#b8c6db;
    background-image: linear-gradient(-45deg,#b3bec4, #63a4ff);
}
.skills .heading
{
    margin-top: 0px;
    margin-bottom: 50px;   
}
.skills .heading h2
{
    color: rgb(7, 26, 153);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #000;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
}
.skills .content
{
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    flex-wrap: wrap;
    /* I dont know what flex-wrap does */
}
.skills .content .skillsBx
{
    padding: 30px 20px;
    background: #2a2a72;
    background-image: linear-gradient(to bottom, #009ffd, #02005e);
    color: #fff; /* font-colour is white */
    margin: 20px;
    max-width: 340px;
    max-height: 360px;
    text-align: center;
    transition: 0.8s;
    /* for nicer animation effect */
    border-radius: 20px;
    /* box-shadow: 50px #0000CC; */
}
.skills .content .skillsBx:hover
{
    background: #02005e;
}
.skills .content .skillsBx img
{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}
.skills .content .skillsBx h2
{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


/* C O N  T A C T    S E C T I O N */
.contact
{
    padding: 0px 40px;
    margin: 0;
    background: rgb(1, 14, 54);
}
.contact h2
{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    color: #fff;
    letter-spacing: 3px;
}
.contact .content
{
    display: flex;
    justify-content: space-between;
}
.contact .content .contactInfo
{
    padding-top: 30px;
    padding-left: 30px;
    border: 0px;
    color: #fff;
    transition: 0.5s;
}
.contact .content .contactInfo
{
    justify-content: left;
    list-style: none;
}
.contact .content .contactInfo ul li
{
    padding: 5px;
    letter-spacing: 1.5px;
    list-style: none;
    font-weight: 550;
    transition: 0.3s;
}
.contact .content .contactInfo img
{
    min-width: 25px;
    max-width: 40px;
    height: 25px;
    padding-right: 10px;
    transform: translateY(6px);
}
.contact .content .icons
{
    border: 0px;
    padding: 0px;
    margin-right: 30px;
    color: #fff;
    transition: 0.5s;
}
.contact .content .icons ul
{
    display: flex;
    flex-direction: column;
}
.contact .content .icons li
{
    list-style: none;
    margin: 0;
    padding: 3px;
}
.contact .content .icons
{
    padding: 5px;
}
.contact .content .icons ul li a img
{
    width: 35px;
    height: 35px;
    filter: grayscale(85%);
    transition: 0.4s;
}
/* Seperate media query for hover effects */
@media screen and (min-width: 851px)
{
    .contact .content .contactInfo ul li:hover
    {
        color: #09c6f9;
        transition: 0.3s;
        font-weight: 650px;
    }
    .contact .content .icons ul li a img:hover
    {
        filter: grayscale(0%);
        /* To make the icon colourful when hovering over it */
        transition: 0.5s;
        transform: scale(1.1, 1.1);
    }
}
@media (max-width: 850px)
{
    .contact
    {
        padding: 0px 40px;
    }
    .contact .content
    {
        display: flex;
        flex-direction: column;
    }
    .contact .content .icons
    {
        margin: 30px 10% 50px 10%;
    }
    .contact .content .icons ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact .content .contactInfo ul li
    {
        letter-spacing: 0px;
    }
    .contact .content .contactInfo
    {
        padding-left: 0px;
    }
    .contact .content .icons ul li a img
    {
        filter: grayscale(0%);
    }
}

/* For very smaller screens */
@media (max-width: 550px)
{
    .contact
    {
        padding: 0px 5px;
    }
    .contact .content .icons
    {
        margin: 30px 5% 50px 5%;
    }
    .contact .content .icons ul li a img
    {
        filter: grayscale(0%);
    }
}