@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Poppins font */

*
{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif, Helvetica;
    box-sizing: border-box;
    /* border-box is to include the padding and border are included in the width and height */
    font-size: 20px;
}
html
{
    scroll-behavior: smooth;
    /* smooth scrolling effects for navigation bar*/
}


/* 3. S K I L L S    S E C T I O N*